<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-и-подготовка-данных" data-toc-modified-id="Загрузка-и-подготовка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка и подготовка данных</a></span><ul class="toc-item"><li><span><a href="#Подключение-библиотек" data-toc-modified-id="Подключение-библиотек-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Подключение библиотек</a></span></li><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Функция-для-первичного-анализа-фрейма" data-toc-modified-id="Функция-для-первичного-анализа-фрейма-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Функция для первичного анализа фрейма</a></span></li><li><span><a href="#Функция-подготовки-данных" data-toc-modified-id="Функция-подготовки-данных-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Функция подготовки данных</a></span></li><li><span><a href="#Первый-регион" data-toc-modified-id="Первый-регион-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Первый регион</a></span><ul class="toc-item"><li><span><a href="#Анализ-датафрейма" data-toc-modified-id="Анализ-датафрейма-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Анализ датафрейма</a></span></li><li><span><a href="#Проверка-на-дубликаты" data-toc-modified-id="Проверка-на-дубликаты-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Проверка на дубликаты</a></span></li><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Подготовка данных</a></span></li></ul></li><li><span><a href="#Второй-регион" data-toc-modified-id="Второй-регион-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Второй регион</a></span><ul class="toc-item"><li><span><a href="#Анализ-датафрейма" data-toc-modified-id="Анализ-датафрейма-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Анализ датафрейма</a></span></li><li><span><a href="#Проверка-на-дубликаты" data-toc-modified-id="Проверка-на-дубликаты-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Проверка на дубликаты</a></span></li><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1.6.3"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>Подготовка данных</a></span></li></ul></li><li><span><a href="#Третий-регион" data-toc-modified-id="Третий-регион-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Третий регион</a></span><ul class="toc-item"><li><span><a href="#Анализ-датафрейма" data-toc-modified-id="Анализ-датафрейма-1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Анализ датафрейма</a></span></li><li><span><a href="#Проверка-на-дубликаты" data-toc-modified-id="Проверка-на-дубликаты-1.7.2"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>Проверка на дубликаты</a></span></li><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1.7.3"><span class="toc-item-num">1.7.3&nbsp;&nbsp;</span>Подготовка данных</a></span></li></ul></li></ul></li><li><span><a href="#Обучение-и-проверка-модели" data-toc-modified-id="Обучение-и-проверка-модели-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Обучение и проверка модели</a></span><ul class="toc-item"><li><span><a href="#Функция-рассчета-RMSE-и-среднего-запаса-сырья" data-toc-modified-id="Функция-рассчета-RMSE-и-среднего-запаса-сырья-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Функция рассчета <code>RMSE</code> и среднего запаса сырья</a></span></li><li><span><a href="#Первый-регион" data-toc-modified-id="Первый-регион-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Первый регион</a></span></li><li><span><a href="#Второй-регион" data-toc-modified-id="Второй-регион-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Второй регион</a></span></li><li><span><a href="#Третий-регион" data-toc-modified-id="Третий-регион-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Третий регион</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Подготовка-к-расчёту-прибыли" data-toc-modified-id="Подготовка-к-расчёту-прибыли-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Подготовка к расчёту прибыли</a></span><ul class="toc-item"><li><span><a href="#Ключевые-константы-для-рассчетов" data-toc-modified-id="Ключевые-константы-для-рассчетов-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Ключевые константы для рассчетов</a></span></li><li><span><a href="#Функция-рассчета-прибыли" data-toc-modified-id="Функция-рассчета-прибыли-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Функция рассчета прибыли</a></span></li><li><span><a href="#Функция-рассчета-прибыли-и-вероятности-убытков" data-toc-modified-id="Функция-рассчета-прибыли-и-вероятности-убытков-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Функция рассчета прибыли и вероятности убытков</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Расчёт-прибыли-и-рисков" data-toc-modified-id="Расчёт-прибыли-и-рисков-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Расчёт прибыли и рисков</a></span></li><li><span><a href="#Выводы" data-toc-modified-id="Выводы-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Выводы</a></span></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></div>

# Выбор локации для скважины

Необходимо построить модель машинного обучения, которая поможет определить регион, где добыча принесёт наибольшую прибыль. Для анализа предоставлены пробы нефти в трёх регионах: в каждом 10 000 месторождений, где измерили качество нефти и объём её запасов. 

Шаги для выбора локации:

- В избранном регионе ищут месторождения, для каждого определяют значения признаков;
- Строят модель и оценивают объём запасов;
- Выбирают месторождения с самым высокими оценками значений. Количество месторождений зависит от бюджета компании и стоимости разработки одной скважины;
- Прибыль равна суммарной прибыли отобранных месторождений.

# Описание данных

1. Data Frame `geo_data_0`
    * id — уникальный идентификатор скважины;
    * f0, f1, f2 — три признака точек (неважно, что они означают, но сами признаки значимы);
    * product — объём запасов в скважине (тыс. баррелей)
2. Data Frame `geo_data_1`
    * id — уникальный идентификатор скважины;
    * f0, f1, f2 — три признака точек (неважно, что они означают, но сами признаки значимы);
    * product — объём запасов в скважине (тыс. баррелей)
3. Data Frame `geo_data_2`
    * id — уникальный идентификатор скважины;
    * f0, f1, f2 — три признака точек (неважно, что они означают, но сами признаки значимы);
    * product — объём запасов в скважине (тыс. баррелей)

## Загрузка и подготовка данных

### Подключение библиотек

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

### Загрузка данных

In [2]:
try:
    df_0 = pd.read_csv('geo_data_0.csv')
    df_1 = pd.read_csv('geo_data_1.csv')
    df_2 = pd.read_csv('geo_data_2.csv')
except:
    df_0 = pd.read_csv('/datasets/geo_data_0.csv')
    df_1 = pd.read_csv('/datasets/geo_data_1.csv')
    df_2 = pd.read_csv('/datasets/geo_data_2.csv')

### Функция для первичного анализа фрейма

In [3]:
def data_info(data):
    data.info()
    print('')
    print('*'*50)
    display(data.head())
    print('')
    print('*'*50)
    display(data.describe())

### Функция подготовки данных

In [4]:
def X_y(df):
    features = df[['f0', 'f1', 'f2']]
    target = df['product']
    features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345)
    scaler = StandardScaler()
    scaler.fit(features_train)
    features_train = scaler.transform(features_train)
    features_valid = scaler.transform(features_valid)
    return features_train, features_valid, target_train, target_valid

### Первый регион

#### Анализ датафрейма

In [5]:
data_info(df_0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

**************************************************

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

**************************************************

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

#### Проверка на дубликаты

In [6]:
df_0.duplicated().sum()

0

#### Подготовка данных

In [7]:
(features_train_0, 
features_valid_0, 
 target_train_0, 
 target_valid_0) = X_y(df_0)

### Второй регион

#### Анализ датафрейма

In [8]:
data_info(df_1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

**************************************************

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

**************************************************

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

#### Проверка на дубликаты

In [9]:
df_1.duplicated().sum()

0

#### Подготовка данных

In [10]:
(features_train_1, 
features_valid_1, 
 target_train_1, 
 target_valid_1) = X_y(df_1)

### Третий регион

#### Анализ датафрейма

In [11]:
data_info(df_2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

**************************************************

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

**************************************************

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

#### Проверка на дубликаты

In [12]:
df_2.duplicated().sum()

0

#### Подготовка данных

In [13]:
(features_train_2, 
features_valid_2, 
 target_train_2, 
 target_valid_2) = X_y(df_2)

## Обучение и проверка модели

### Функция рассчета `RMSE` и среднего запаса сырья

In [14]:
def rmse(features_train, features_valid,target_train, target_valid):
    model = LinearRegression().fit(features_train, target_train)
    predict_target = model.predict(features_valid)
    mean_predict = predict_target.mean().round(2)
    mse = mean_squared_error(target_valid, predict_target)
    print('Средний запас предсказанного сырья:', mean_predict)
    print('RMSE:', round(mse**0.5, 2))
    return predict_target, mean_predict

### Первый регион

In [15]:
predict_target_0, mean_predict_0 = rmse(features_train_0,
                                        features_valid_0,
                                        target_train_0, 
                                        target_valid_0)

Средний запас предсказанного сырья: 92.59
RMSE: 37.58

### Второй регион

In [16]:
predict_target_1, mean_predict_1 = rmse(features_train_1,
                                        features_valid_1,
                                        target_train_1, 
                                        target_valid_1)

Средний запас предсказанного сырья: 68.73
RMSE: 0.89

### Третий регион

In [17]:
predict_target_2, mean_predict_2 = rmse(features_train_2,
                                        features_valid_2,
                                        target_train_2, 
                                        target_valid_2)

Средний запас предсказанного сырья: 94.97
RMSE: 40.03

### Вывод

Проведя исследования по 3-м регионам наилучшие результаты показал регион № 2. На нём модель имеет наименьшее значение среднеквадратичной ошибки `RMSE` - **0,89**, при наименьшем среднем запасе предсказанного сырья. Иными словами, наша модель наиболее точно предсказывает запас по второму региону.

## Подготовка к расчёту прибыли

### Ключевые константы для рассчетов

In [18]:
BUDGET = 10000 # бюджет в млн рублей
POINTS_PER_BUDGET = 200 # количество разрабатываемых точек
PRODUCT_PRICE = 0.45 # прибыль с одной скважины в млн рублей
min_product = round(BUDGET / PRODUCT_PRICE / POINTS_PER_BUDGET, 2) 
print('Достаточный объем сырья для безубыточной разработки новой скважины', min_product, 'тыс. баррелей')

Достаточный объем сырья для безубыточной разработки новой скважины 111.11 тыс. баррелей

### Функция рассчета прибыли

In [19]:
def income(predictions, target):
    best_predict = pd.Series(predictions).sort_values(ascending=False).head(POINTS_PER_BUDGET)
    points = target.iloc[best_predict.index]
    income = (PRODUCT_PRICE * points.sum()) - BUDGET
    return income

### Функция рассчета прибыли и вероятности убытков

In [20]:
def bootstrap_income(predictions, target, region):
    state = np.random.RandomState(12345)
    values = []
    for i in range(1000):
        subsample = pd.Series(predictions).sample(n=500, 
                                                  random_state=state, 
                                                  replace=True)
        values.append(income(subsample, target.reset_index(drop=True)))
    values = pd.Series(values)
    mean_income = values.mean()
    lower = values.quantile(0.025)
    upper = values.quantile(0.975)
    damages = len(values[values < 0]) / len(values)
    print(region)
    print('Средняя прибыль с региона:', mean_income)
    print('95% доверительный интервал от', lower,'до', upper, ', вероятность убытков {:.2%}'.format(damages))

### Вывод

Достаточный объем сырья для безубыточной разработки новой скважины больше среднего предсказанного запаса сырья по всем 3-м регионам.

## Расчёт прибыли и рисков

In [21]:
bootstrap_income(predict_target_0, target_valid_0, 'Первый регион')

Первый регион
Средняя прибыль с региона: 396.16498480237146
95% доверительный интервал от -111.21554589049533 до 909.7669415534222 , вероятность убытков 6.90%

In [22]:
bootstrap_income(predict_target_1, target_valid_1, 'Второй регион')

Второй регион
Средняя прибыль с региона: 456.04510578666105
95% доверительный интервал от 33.82050939898541 до 852.2894538660361 , вероятность убытков 1.50%

In [23]:
bootstrap_income(predict_target_2, target_valid_2, 'Третий регион')

Третий регион
Средняя прибыль с региона: 404.4038665683571
95% доверительный интервал от -163.35041339560078 до 950.3595749238001 , вероятность убытков 7.60%

## Выводы

Не смотря на то, что средний предсказанный запас сырья оказался меньше достаточного объема для безубыточной разработки, все три региона показали **положительную среднюю прибыль**. 

Однако, учитывая вероятность убытков, для дальнейшей разработки предлагаю выбрать **регион № 2**, т.к. помимо наибольшой средней прибыли, он имеет наименьшую вероятность убытков, равную **1,50%**, которая в свою очередь ниже установленной границы вероятности убытков, равной **2,50%**.